@font-face {
  font-family: 'Poppins';
  src: url('../google-fonts/Poppins-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../google-fonts/Poppins-Medium.ttf');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../google-fonts/Poppins-Bold.ttf');
  font-display: swap;
  font-weight: 900;
}
@font-face {
  font-family: 'Nerko';
  src: url('../google-fonts/Nerko_One/NerkoOne-Regular.ttf');
  font-display: swap;
  font-weight: 400;
}
/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins';
  font-size: 15px;
  line-height: 1.7;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s linear;
}
a:hover {
  transition: 0.3s linear;
}
.section__title {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
  color: #0ab1ae;
  font-weight: 500;
}
.section__title--light {
  color: #ffffff;
}
.section__paragraph {
  font-size: 18px;
  text-align: center;
  margin-bottom: 100px;
}
.section__paragraph--under {
  font-size: 18px;
  text-align: center;
  margin-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  opacity: 0.9;
}
h4,
h5 {
  font-weight: 500;
}
/* Nav */
.nav {
  position: fixed;
  background: rgba(108, 92, 231, 0.95);
  width: 100%;
  padding: 20px 0;
  z-index: 999;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.nav label,
.nav input {
  display: none;
}
.nav__logo h1 {
  font-size: 28px;
  font-family: 'Nerko';
  letter-spacing: 1px;
  font-weight: 400;
}
.nav__logo h1 a {
  cursor: pointer;
}
.nav__logo h1 a:hover {
  color: #0ab1ae;
}
.nav__menu {
  display: flex;
  align-items: center;
}
.nav__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu ul li {
  margin-left: 40px;
}
.nav__menu ul li:last-child a {
  background: #0ab1ae;
  padding: 5px;
  border-radius: 3px;
}
.nav__menu ul li:last-child a:hover {
  color: #232323;
  background: #ffffff;
}
.nav__menu ul li a {
  color: #ffffff;
  cursor: pointer;
}
.nav__menu ul li a:hover {
  color: #0ab1ae;
}
/* Splash */
.splash {
  background: url(../img/splash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
}
.splash__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash__text {
  background: #ffffff;
  width: 60%;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
}
.splash__text h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #232323;
  line-height: 1.6;
  opacity: 0.9;
  margin-right: 20px;
}
.splash__text img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
/* Steps */
.steps {
  padding: 80px 0;
}
.steps__box {
  text-align: left;
  width: 30%;
  position: relative;
}
.steps__box img {
  width: 90px;
  display: block;
  margin-bottom: 20px;
}
.steps__box h4 {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}
.steps__box span {
  position: absolute;
  top: -15px;
  right: 25px;
  opacity: 0.15;
  color: #0ab1ae;
  font-size: 96px;
  font-weight: 900;
}
/* Price */
.price {
  padding: 80px 0;
  background: #0ab1ae;
  color: #ffffff;
}
.price__box {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.price__box h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.price__box p {
  text-align: left;
  background: #ffffff;
  color: #232323;
  padding: 25px;
  font-weight: 500;
  border-radius: 3px;
  font-size: 16px;
}
.price_box-half {
  width: 49%;
}
.price_box-half:first-of-type {
  margin-bottom: 25px;
}
.price__box--premium {
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.price__box--row.price__box--head {
  background: #0ab1ae;
  color: #ffffff;
}
.price__box--row {
  width: 100%;
  background: #ffffff;
  color: #6c5ce7;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  padding: 8px 0;
  font-weight: 500;
}
.price__box--list {
  text-align: left;
  list-style-type: disc;
}
.price__box--list li {
  margin-left: 20px;
  line-height: 1.8;
  font-size: 16px;
}
.price__button {
  background: #6c5ce7;
  color: #ffffff;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s linear;
  margin-bottom: 20px;
}
.price__button:hover {
  transition: 0.3s linear;
  opacity: 0.9;
}
/* Reviews */
.reviews {
  padding: 80px 0;
}
.reviews__box {
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.reviews__box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 25px;
}
.reviews__box--text h4 {
  margin-bottom: 8px;
}
/* Info */
.info {
  padding: 80px 0;
  background: #0ab1ae;
  color: #ffffff;
}
.info__box {
  width: 24%;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}
.info__box h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.info__box ul li a:hover {
  color: #6c5ce7;
}
/* Footer */
.footer {
  background: #232323;
  color: #ffffff;
  text-align: center;
  padding: 25px 0;
}
.footer-info {
  font-size: 12px;
}
@media (max-width: 760px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .section__title {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .section__paragraph {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .steps,
  .price,
  .reviews,
  .info {
    padding: 60px 0;
  }
  .splash__text {
    margin-top: 67px;
    width: 80%;
  }
  .nav {
    padding: 10px 0;
  }
  .nav label,
  .nav input {
    display: block;
  }
  .nav .nav__menu {
    box-shadow: inset 0 0 2rem 0.2rem rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: -100vw;
    top: 67px;
    z-index: 998;
    background: #ffffff;
    transition: 0.3s all linear;
    align-items: flex-start;
    padding-top: 25px;
  }
  .nav .nav__menu ul {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .nav .nav__menu ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    display: block;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .nav .nav__menu ul li:nth-last-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  .nav .nav__menu ul li:nth-last-child(1) {
    border-top: none;
    margin-top: 20px;
  }
  .nav .nav__menu ul li:nth-last-child(1) a {
    background: #0ab1ae;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
  }
  .nav .nav__menu ul li:nth-last-child(1) a:hover {
    background: #0ab1ae;
    color: #ffffff;
  }
  .nav .nav__menu ul li a {
    padding: 20px 0;
    display: block;
    color: #232323;
    font-size: 15px;
  }
  label.toggle-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
    z-index: 999;
  }
  .toggle-btn .bar {
    background: #ffffff;
    width: 30px;
    height: 2px;
    margin: 7px auto;
    transition: all 0.25s ease-in-out;
  }
  #toggle:checked ~ .nav__menu {
    right: 0;
    transition: 0.3s all linear;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(2) {
    transform: translateX(30px);
    opacity: 0;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .steps__box {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .steps__box img {
    margin: 0 auto 20px;
  }
  .steps__box h4 {
    text-align: center;
  }
  .price_box-half {
    width: 100%;
  }
  .reviews__box {
    width: 90%;
  }
  .info__box {
    width: 49%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .info__box {
    width: 100%;
  }
}
